@model AdminIndexViewModel
@using Nublr.CustomAlias
@using Nublr.CustomAlias.ViewModels
@using Orchard.Utility.Extensions

@{
    Layout.Title = T("Manage Custom Aliases").Text;
    AdminIndexOptions options = Model.Options;
    int index = -1;

    var pageSizes = new List<int?>() { 10, 50, 100 };
    var defaultPageSize = WorkContext.CurrentSite.PageSize;
    if (!pageSizes.Contains(defaultPageSize))
    {
        pageSizes.Add(defaultPageSize);
    }
}
@using (Html.BeginFormAntiForgeryPost())
{
    @Html.ValidationSummary()
    <div class="manage">@Html.ActionLink(T("Create New").Text, "Create", new { returnurl = HttpContext.Current.Request.RawUrl }, new { @class = "button primaryAction" })</div>

    <fieldset class="bulk-actions">
        <label for="publishActions">@T("Actions:")</label>
        <select id="publishActions" name="@Html.NameOf(m => m.Options.BulkAction)">
            @Html.SelectOption(options.BulkAction, CustomAliasBulkAction.None, T("Choose action...").ToString())
            @Html.SelectOption(Model.Options.BulkAction, CustomAliasBulkAction.Enable, T("Enable").ToString())
            @Html.SelectOption(Model.Options.BulkAction, CustomAliasBulkAction.Disable, T("Disable").ToString())
            @Html.SelectOption(options.BulkAction, CustomAliasBulkAction.Delete, T("Delete").ToString())
        </select>
        <button type="submit" name="submit.BulkEdit" value="@T("Apply")">@T("Apply")</button>
    </fieldset>
    <fieldset class="bulk-actions">
        <label for="@Html.FieldIdFor(m => m.Options.Search)">@T("Filter:")</label>
        @Html.TextBoxFor(m => m.Options.Search, new { @class = "text-box" })
        <label for="filterResults">@T("Sort by:")</label>
        <select id="filterResults" name="@Html.NameOf(m => m.Options.Order)">
            @Html.SelectOption(options.Order, CustomAliasOrder.Alias, T("Alias").ToString())
            @Html.SelectOption(options.Order, CustomAliasOrder.OriginalUrl, T("Original Url").ToString())
        </select>
        <input type="hidden" name="Page" value="1" />
        <label for="pageSize">@T("Show:")</label>
        <select id="pageSize" name="PageSize">
            @Html.SelectOption((int)Model.Pager.PageSize, 0, T("All").ToString())
            @foreach (int size in pageSizes.OrderBy(p => p))
            {
                @Html.SelectOption((int)Model.Pager.PageSize, size, size.ToString())
            }
        </select>
        <button type="submit" name="submit.Filter" value="@T("Filter")">@T("Filter")</button>
    </fieldset>
    <fieldset>
        <table class="items">
            <thead>
                <tr>
                    <th scope="col" class="checkbox">&nbsp;&darr;</th>
                    <th scope="col">@T("Alias")</th>
                    <th scope="col">@T("Original Url")</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            @foreach (var aliasEntry in Model.Aliases)
            {
                var record = aliasEntry.Record;
                index++;
            
                <tr>
                    <td>
                        <input type="hidden" value="@Model.Aliases[index].Record.Id" name="@Html.FieldNameFor(m => Model.Aliases[index].Record.Id)"/>
                        <input type="checkbox" value="true" name="@Html.FieldNameFor(m => Model.Aliases[index].IsChecked)"/>
                    </td>
                    <td>
                        @if (record.Enabled)
                        { 
                            <img class="icon" src="@Href("~/Modules/Orchard.Users/Content/Admin/images/online.gif") " alt="@T("Enabled") " title="@T("Alias is enabled")" /> 
                        }
                        else
                        { 
                            <img class="icon" src="@Href("~/Modules/Orchard.Users/Content/Admin/images/offline.gif") " alt="@T("Disabled") " title="@T("Alias is disabled")" />
                        }
                        @Html.Link(record.Alias, Href("~/" + record.Alias))
                    </td>
                    <td>
                        @Html.Link(record.OriginalUrl, record.OriginalUrl)
                    </td>
                    <td>
                        @Html.ActionLink(T("Edit").ToString(), "Edit", new { record.Id }) |
                        @Html.ActionLink(T("Delete").ToString(), "Delete", new { record.Id }, new { itemprop = "RemoveUrl UnsafeUrl" }) |
                        @if (record.Enabled == false)
                        {
                            @Html.ActionLink(T("Enable").ToString(), "Enable", new { record.Id })
                        }
                        else
                        {
                            @Html.ActionLink(T("Disable").ToString(), "Disable", new { record.Id })
                        }
                    </td>
                </tr>
            }
        </table>

        @Display(Model.Pager)
    </fieldset>
}
@{
    using (Script.Foot())
    {
    <script type="text/javascript">
        $(function () {
            $("#@Html.FieldIdFor(m => m.Options.Search)").keypress(function (e) {
                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                    $('button[name="submit.Filter"]').click();
                    return false;
                } else {
                    return true;
                }
            });
        });
    </script>
    }
}
